$backgroundGray: #efefef;
$primaryColor: #007bff;
$secondaryColor: #6c757d;
$successColor: #28a745;
$dangerColor: #dc3545;
$warningColor: #ffc107;
$infoColor: #17a2b8;
$lightColor: #f8f9fa;

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: $backgroundGray;
}

.foreground-container {
  background-color: $lightColor;
}
