$backgroundGray: #dddddd;
$primaryColor: #007bff;
$secondaryColor: #6c757d;
$successColor: #28a745;
$dangerColor: #dc3545;
$warningColor: #ffc107;
$infoColor: #17a2b8;
$lightColor: #f8f9fa;

#root {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: $backgroundGray;
}

body {
  padding-top: 56px;
}

.foreground-container {
  background-color: $lightColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app-nav {
    position: "fixed";
    top: 0;
    width: "100%";
    z-index: 1000;
}

.center-heading {
  text-align: center;
  flex: 1;
}

.auto-align-end {
  margin-top: auto;
  margin-left: auto;
}
